<nav class="navbar navbar-expand-lg navbar-light bg-strong">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> </a>
    <%= link_to 'BERETOR', root_path, class: "nav-link bg-strong" %> 
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in? %>
          <%= link_to "Create new article", new_article_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "View articles", articles_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
        <% if logged_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile [<%= current_user.username %>]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
            <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Edit your profiles", edit_user_path(current_user), class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', logout_path, class: "nav-link", method: :delete %> 
          </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: "nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %> 
        </li>
        <% end %>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>